h1 p{}
.contact {
    text-align: center;
    padding: 50px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    /* background: linear-gradient(180deg, rgba(54, 85, 90, 1), white, rgba(54, 85, 90, 1)); */
    background-color: transparent;
    box-shadow: 0 0 10px  rgb(0, 0, 0)
  }
  
  .contact-form button {
    display: inline-block;
    padding: 10px 30px ;
    background:  rgb(0, 0, 0) ;
    border: 2px solid  rgb(0, 0, 0);
    border-radius: 40px;
    box-shadow: 0 0 10px  rgb(0, 0, 0);
    font-size: 15px;
    color: rgb(255, 255, 255)  ;
    font-weight: 777;
    transition: .5s;

  }
  button:hover{
    cursor: pointer;
    background: transparent;
    color: rgb(0, 0, 0); 
    box-shadow: none;
  }
  
  .social-links a {
    display: inline-flex;
    padding: 8px; 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0 6px;
    transition: .5s;
    
  }
  
  .social-links a:hover {
      background: rgb(0, 0, 0) ;
      color: rgb(255, 255, 255) ;
      box-shadow: 0 0 10px rgb(0, 0, 0);}
  